__pycache__/
.ipynb_checkpoints/
.DS_Store
venv-gpu/
venv-gpu-new/
venv/
env/
MENDELEY_ADHD_EEG/
adult/
pediatric/X_final.npy
pediatric/adhdata.csv
*.npy
*.mat
*.zip
*.rar
results.zip
checkpoints/
checkpoints_finetuned/
*.pt
*.pth
logs/
train_loss_history.npy
